
    <div class="header-bar">
        <div class="header-inner">
            <ul class="father">
                <li><a>{$city.name}</a></li>
                <li>|</li>
                <li class="city">
                    <a>切换城市<span class="arrow-down-logo"></span></a>
                    <div class="city-drop-down">
                        <h3>热门城市</h3>
                        <ul class="son">
                            {foreach $citys as $v}
                            <li><a href="{:url('index/index',['city'=>$v['uname']])}" >{$v.name}</a></li>
                            {/foreach}
                        </ul>
                        
                    </div>
                </li>
                {if condition="$user"}
                <li><a href="index.php{:url('user/logout')}">退出</a></li>
                <li><a>欢迎您：{$user->username}</a></li>
                {else /}
                <li><a href="index.php{:url('user/register')}">注册</a></li>
                <li>|</li>
                <li><a href="index.php{:url('user/login')}">登录</a></li>
                {/if}
                <li><a href="{:url('/bis/login')}">商户中心</a></li>
            </ul>
        </div>
    </div>

    <div class="search">
        <img src="__STATIC__/index/image/logo.png" />
        
    </div>

    <div class="nav-bar-header">
        <div class="nav-inner">
            <ul class="nav-list">
                <li class="nav-item">
                    <span class="item">全部分类</span>
                    <div class="left-menu">
                        <div class="level-item">
                            <div class="first-level">
                                <dl>
                                    <dt class="title"><a href="" target="_top">美食</a></dt>
                                    <dd><a href="" target="_top" class="">精选品牌</a></dd>
                                    <dd><a href="" target="_top" class="">小吃快餐</a></dd>
                                </dl>
                            </div>
                            <div class="second-level">
                                <div class="section">
                                    <div class="section-item clearfix no-top-border">
                                        <h3>热门分类</h3>
                                        <ul>
                                            <li><a class="hot">精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                        </ul>
                                    </div>
                                    <div class="section-item clearfix">
                                        <h3>热门分类</h3>
                                        <ul>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                        </ul>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="level-item">
                            <div class="first-level">
                                <dl>
                                    <dt class="title"><a href="" target="_top">电影</a></dt>
                                    <dd><a href="" target="_top" class="">订座</a></dd>
                                    <dd><a href="" target="_top" class="">电影票团购</a></dd>
                                </dl>
                            </div>
                            <div class="second-level">
                                <div class="section">
                                    <div class="section-item clearfix no-top-border">
                                        <h3>热门分类</h3>
                                        <ul>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                        </ul>
                                    </div>
                                    <div class="section-item clearfix">
                                        <h3>热门分类</h3>
                                        <ul>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                        </ul>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="level-item">
                            <div class="first-level">
                                <dl>
                                    <dt class="title"><a href="" target="_top">休闲娱乐</a></dt>
                                    <dd><a href="" target="_top" class="">ktv</a></dd>
                                    <dd><a href="" target="_top" class="">温泉洗浴</a></dd>
                                </dl>
                            </div>
                            <div class="second-level">
                                <div class="section">
                                    <div class="section-item clearfix no-top-border">
                                        <ul>
                                            <li><a class="hot">精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                        </ul>
                                    </div>
                                    <div class="section-item clearfix">
                                        <ul>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                        </ul>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                        <div class="level-item">
                            <div class="first-level">
                                <dl>
                                    <dt class="title"><a href="" target="_top">电影</a></dt>
                                    <dd><a href="" target="_top" class="">订座</a></dd>
                                    <dd><a href="" target="_top" class="">电影票团购</a></dd>
                                </dl>
                            </div>
                            <div class="second-level">
                                <div class="section">
                                    <div class="section-item clearfix no-top-border">
                                        <h3>热门分类</h3>
                                        <ul>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                        </ul>
                                    </div>
                                    <div class="section-item clearfix">
                                        <h3>热门分类</h3>
                                        <ul>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                        </ul>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="level-item">
                            <div class="first-level">
                                <dl>
                                    <dt class="title"><a href="" target="_top">电影</a></dt>
                                    <dd><a href="" target="_top" class="">订座</a></dd>
                                    <dd><a href="" target="_top" class="">电影票团购</a></dd>
                                </dl>
                            </div>
                            <div class="second-level">
                                <div class="section">
                                    <div class="section-item clearfix no-top-border">
                                        <h3>热门分类</h3>
                                        <ul>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                        </ul>
                                    </div>
                                    <div class="section-item clearfix">
                                        <h3>热门分类</h3>
                                        <ul>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                            <li><a>精选品牌</a></li>
                                        </ul>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item"><a class="item first active">首页</a></li>
                <li class="nav-item"><a class="item">团购</a></li>
                <li class="nav-item"><a class="item">商户</a></li>
            </ul>
        </div>
    </div>

